body {
  margin: 0;

}

.container{
  width: 80%;
  margin:auto;
  padding: 20px;
  display: flex;
  text-align: center;
  background-color: powderblue;
}

.text-content {
  flex:1; 
  
  margin: 0px auto;
}
.text-width {
  width: 60%;
  margin: auto;
}
img {
  flex:1;
  border-radius: 20px;
}

